p,
a {
  font-size: 25px;
}

iframe {
  border: none;
  width: 100%;
  max-height: 24vw;
}

img {
  max-width: 100%;
}

body {
  margin: auto;
  padding-inline: 30px;
  max-width: 701px;
  background-color: hsl(7, 22%, 90%);
  min-height: 100vh;
}

footer {
  display: grid;
  height: 300px;
  background-color: black;
}

.ticket {
  position: absolute;
  width: 250px;
  margin-left: 520px;
  margin-top: 225px;
  transform: rotate(10deg);
  z-index: 1;
}

.ticket:hover {
  animation-name: spin;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.logomark {
  margin-block: 40px;
}

.hero {
  display: grid;
  grid-template-columns: 3fr 4fr;
  row-gap: 2px;
  column-gap: 2px;
  font-size: xx-large;
}
.hero img,
.hero .motto1,
.hero .motto2 {
  outline: 2px black solid;
  padding-inline: 1vw;
}
.hero img {
  width: 90%;
  padding: 5%;
}
.hero .bridge {
  background-color: #B4AFCF;
}
.hero .friends {
  background-color: #E0C8B1;
}
.hero .motto1 {
  padding-top: 12px;
}
.hero .motto2 {
  padding-top: 30px;
  text-align: end;
}

.marquee {
  overflow: hidden;
  display: flex;
  outline: 2px black solid;
  margin-top: 2px;
  margin-bottom: 20px;
}
.marquee a {
  font-size: xx-large;
  white-space: nowrap;
  outline: 0px;
}

.content {
  width: 96%;
  margin: auto;
}
.content h1 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 20px;
}
.content h3 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.2vw;
  margin-top: 20px;
}
.content h2 {
  font-size: 35px;
}

@media only screen and (max-width: 750px) {
  .ticket {
    margin-left: 500px;
    margin-top: 225px;
    width: 200px;
  }
}
@media only screen and (max-width: 700px) {
  html {
    background-color: hsl(7, 22%, 90%);
  }
  .ticket {
    display: none;
  }
  .marquee {
    margin-top: 16px;
  }
  .marquee a {
    font-size: 5vw;
  }
  body {
    padding-inline: 0px;
  }
  row {
    margin-block: 2px;
  }
  .logomark {
    width: 96%;
    padding-inline: 2%;
    margin-block: 15px;
  }
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 3fr;
    font-size: 6vw;
  }
  .hero img,
  .hero .motto1,
  .hero .motto2 {
    padding-top: 0px;
    outline: none;
  }
  .hero h2 {
    letter-spacing: -0.4vw;
  }
  .hero img {
    display: none;
  }
  .hero .motto1 {
    background: no-repeat right/38vw url("../half-bridge.webp");
  }
  .hero .motto2 {
    background: no-repeat left/24vw url("../close-friends.webp");
    margin-inline: 1vw;
    margin-block: 4px;
  }
  .content h1 {
    font-size: 10vw;
  }
  .content h2,
  .content h3 {
    font-size: 6vw;
  }
}
@keyframes spin {
  0% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
  }
  33% {
    transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
  }
  66% {
    transform: rotate(16deg);
    -webkit-transform: rotate(16deg);
    -moz-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
  }
  100% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
  }
}