@font-face {
  font-family: "riccione";
  src: url("../fonts/riccione-serial-light-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "terminal";
  src: url("../fonts/terminal-grotesque.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
a {
  color: #110B07;
}

footer a {
  color: #FBF9F9;
}

h1 {
  font-family: "riccione";
  letter-spacing: -0.1vw;
}

h2 {
  font-family: "terminal";
  margin-bottom: -40px;
  letter-spacing: -0.05vw;
}

h3 {
  font-family: "riccione";
  letter-spacing: -0.1vw;
}

h4 {
  font-family: "terminal";
  margin-bottom: -15px;
}

p,
a {
  font-family: "terminal";
  font-size: 25px;
}

body {
  display: grid;
}

html {
  min-width: 410px;
}

img {
  max-width: 100%;
}

.box {
  outline: 1px solid black;
}

footer {
  border-radius: 30px 30px 0px 0px;
}
footer img.logo {
  padding: 30px;
  width: 18%;
}
footer img.event {
  transform: rotate(-15deg);
  position: absolute;
  width: 300px;
  margin-top: -30px;
  margin-left: -60px;
}

@media only screen and (max-width: 700px) {
  footer {
    border-radius: 0px;
  }
  footer img.logo {
    width: 105px;
    margin-top: 20px;
    margin-right: 20px;
  }
  footer img.event {
    width: 280px;
    margin-top: -10px;
    margin-left: 20px;
  }
}