@font-face {
  font-family: "riccione";
  src: url("../fonts/riccione-serial-light-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "terminal";
  src: url("../fonts/terminal-grotesque.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  background-color: #FBF9F9;
}

row {
  display: grid;
  grid-template-columns: 3fr 4fr;
  column-gap: 2px;
}
row a {
  font-size: xx-large;
  outline: 2px black solid;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 8px;
}

ul {
  padding-inline-start: 0px;
}
ul li {
  margin-top: auto;
  margin-bottom: auto;
}

h1,
h3 {
  font-family: "riccione";
  letter-spacing: -0.1vw;
  margin: auto;
}

h2 {
  font-family: "terminal";
  margin: auto;
}

a,
p {
  color: black;
  font-family: "terminal";
}

li {
  list-style: none;
  display: grid;
  grid-template-columns: 140px auto;
  grid-template-rows: auto;
  margin-block: 30px;
  column-gap: 20px;
}
li p {
  margin: auto;
}
li p a {
  font-style: normal;
}
li a {
  font-style: italic;
}
li img {
  width: 90%;
  padding: 5%;
  aspect-ratio: 1/1;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

@media only screen and (max-width: 750px) {
  li {
    grid-template-columns: 20vw auto;
    grid-template-rows: auto;
    margin-block: 10vw;
    column-gap: 2vw;
  }
  li h2 {
    font-size: 6vw;
  }
  row a {
    font-size: 6vw;
  }
  body {
    padding-inline: 2vw;
    border-radius: 0px;
    min-height: 100vh;
  }
}